*{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family:'Arazema';
  src: url('/fonts/AramezaDemo-Regular.otf') format('opentype');
  font-family:'Edition';
  src: url('/fonts/EDITION_.TTF') format('truetype')
}
  /* cabeçalho */
header{
  display: flex;
  justify-content: center;
  height: 100px;
}

.container{
  width: 990px;
  display: flex;
  justify-content: space-between;
}
/* logo */
.logo a{
  display: block;
  text-decoration: none;
  color: #727272;
  text-transform: uppercase;
}
.logo span{
  color:#e13939;
  font-weight: bold;
}
.logo{
  display: flex;
  align-items: center;
}

.menu{
  display: flex;
  align-items: center;
}

nav ul,
nav li{
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul{
  display: flex;
}

nav a{
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase; /*para que todo o texto fique em caixa alta*/
  color: #727272;
}

nav .active a,
nav a:hover{
  
  background-color: #e13939;
  color: #fff;
  border-radius: 30px;
}

  /* conteudo da pagina */
#banner {
  display: flex;
  justify-content: center;
  background-image: url('../imagens/singapore-1990959_1920.jpg ');
  background-position: center;
  background-size: cover;
  height: 670px;
}
.headtitle {
  flex:1;
  display: flex; 
  justify-content: center;
  flex-direction: column;
  
}
.headtitle h2{
  text-transform: uppercase;
  font-family: 'Fira Code', monospace;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 7px;
  color: #ffffff;
}
.headtitle h1{
  text-transform: uppercase;
  font-family: 'Fira Code', monospace;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Quicksand', sans-serif;
  border-right:2px solid rgba(255, 255, 255);
  color: #ffffff;
   width: 410px;
   white-space: nowrap;
   overflow: hidden;
   text-align: center;
}
.headtitle a{
  text-decoration: none;

}
.rede-social{
  display: flex;
  margin-top: 40px;
}
.headtitle img{
  display: flex;
  margin-right: 20px;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  
}
.headtitle .zap{
  background-color: rgb(55, 172, 55);
  opacity: 40%;
}
.headtitle .zap:hover{
  background-color: rgb(55, 172, 55);
  opacity: 100%;
}
.headtitle .linkedln{
  background-color:#0e76a8;
  opacity: 40%;
}
.headtitle .linkedln:hover{
  background-color:#0e76a8;
  opacity: 100%;
}
.headtitle .gmail{
  opacity: 40%;
}
.headtitle .gmail:hover{
  opacity: 100%;
}


.button-banner{
  border: 0px solid;
  border-radius: 3px;
  color: #ffffff;
  background-color: #e13939;
  opacity: 60%;
  width: 90px;
  height: 32px;
  text-transform: uppercase;
  display: block;
  margin-top: 25px;
  margin-left: 0px;
}
.button-banner:hover{
  cursor: pointer;
  background-color: #e13939;
  box-shadow: #fff;
  width: 90px;
  height: 32px;
  opacity: 100%;
}
.typing-animation{
  animation:blinkCursor 500ms steps(40) infinite normal, typing 8s infinite steps(40) 1s normal both;

}
@keyframes typing {
  from {
    width: 0;
  }
  to{
    width: 17em;
  }
}

@keyframes blinkCursor{
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to{
    border-right-color: transparent;
  }
}


/* sobre mim */
article {
  background-color: #292929;
  margin-top: 20px;
  display: flex;
}
.profile{
  display: flex;
  width: auto;
  justify-content: center;
  
}

.profile-img img{
  margin-left: 100px;
  margin-top: 20px;
  border: 1px solid #e13939;
}

.title-about{
  display: flex;
  flex-direction: column;  
  margin-top: 20px;
  height: 100px;
}
.title-about h3, h2{
  margin-left: 20px;
}
.title-about h3{
  color: #e13939;
 
}
.title-about h2{
  color:#ffffff;
}
.title_bar{
  width: 60px;
  height: 2px;
  background-color: #e13939 ;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.title_description{
  margin-top: 20px;
  margin-left: 20px;
  color: #fff;
  width: 500px;
}
span{
  color: #fff;
  
}
.info ,.info1{
  color: rgb(117, 117, 117);
}
.title_infobar{
  display: flex;
  flex:1;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 20px;
  border: 1px solid #e13939;
}
.info_primary{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1  0px;
  line-height:40px
}
.info_secundary{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1  0px;
  line-height:40px
}
.button_download{
margin-left: 20px;
margin-top: 40px;
color: #ffffff;
background-color: #e13939;
border: 0px solid;
text-transform: uppercase;
width: 100px;
height: 35px;
display: flex;
align-items: center;
font-family:  'Fira Code', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;;

}
.button_download:hover{
  border: 1px solid #e13939; 
  color: #e13939;
  background-color: transparent;
 
  
}
.button_download a{
  
}
.button_style a{
  text-decoration: none;
 
}

/* minhas habilidades */

.Container_Skills{
  display: flex;
}
.skills{
  margin-top: 50px;
  display: flex;
  text-transform: uppercase;
  
}
.porcent{
  margin-top:10px;
  width: 300px;
  height: 2px;
  background-color: #e13939;
  color:#e13939;
}