@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{ 
  padding:0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  z-index: 1;
    
}

:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0D0D0D;
  --yellow: #ffcc29;
  --blue: #1d539e;
  --gray: #828799;
  --page-background: #f9fbfc;
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
}
        /* /* CABEÇALHOOOOOO */
.header__container{
  display: flex;
  align-items: center;
  width: 1920px;
  max-width:100%;
  height: 60px;
  border-bottom: solid 1px #757575;
  z-index: 1;
  
 }
 nav {
	background: #dfdbec;
	height: 80px;
	width: 100%;
}
label.logo {
	color: #757575;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul {
	float: right;
	margin-right: 20px;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a {
	color: #757575;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}
a.active, a:hover {
	color: #000;
  background-color: #00ff5f;
	transition: .5s;
}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}
@media (max-width: 858px){
	.checkbtn {
		display: block;
	}
	ul{
		position: fixed;
		width: 30%;
		height: 100vh;
		background: #0f0f0f;
    z-index: 1;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
    z-index: 1;
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
    color: #fff;
		font-size: 20px;
    z-index: 1;
   
	}

	a:hover, a.active {
		background-color: #00ff5f;
		color: #eceaf0;
    z-index: 1;
   
	}

	#check:checked ~ ul {
		left: 0;
    z-index: 1;
	}
}

/* .nav_bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.logo{
  display: flex;
  color: #000;
  font-weight: 400;
  font-size: 21px;
} */




.list_nav{
  display: flex;
}

#border-col{
  display: flex;
  margin-left: 2rem;
  letter-spacing: 3px;
}

#border-col{
  color: #000;
  font-weight: 400;
  font-size: 17px;
  text-transform: uppercase;
}




      /* CONTEUDO PRINCIPAL */

.section__Top{
  height: 34rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 

}

.section__Top::before {    
  content: "";
  background-image: url('/imagens/medium-shot-man-wearing-vr-glasses.jpg');
  background-size: cover;
  background-image: ;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}

.section__top__content{

}

.title_main h1, h3{
  text-align: center;
}

.title_main h1{
  font-size: 2rem;
  font-weight: 900; 
  color:#312b2b;
  z-index: 1;
}

.title_main h3{
  font-weight: 400;
}

.click_content{
  display:flex;
  justify-content:center;
  gap: 2rem;
  margin:2rem;
  flex-wrap: wrap;
}

#click1 , #click2{
  display:flex;
 
  align-items: center;
  justify-content: center;
  width: 185px;
  border-radius: 0.4rem;
  
}

#click1{
  height:2.5rem;
  z-index: 1;
  color: #fff;
  background-color: #ff2e16;
}

#click2{
  border: solid 1px #00ff5f;
  color:#00ff5f ;
  opacity: 100%;
  height:2.5rem;
  z-index: 1;
  font-weight: 700;
}

#click2:hover{
  color: #fff;
  background-color: #00ff5f;
}


         /* sobremim */

.section__About{
  display: flex;
  justify-content: center;
}
        
.section__About__content{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top:6rem;       
  }
        
.title_About{
  display: flex;
  justify-content: center;
}

.title_About h1{
  text-transform: uppercase;
  font-weight: 700;
}

.line_boder_content{
  display: flex;
  justify-content: center;
  width:288.72px;
}
.line_border{
  margin-top: 2rem;
  width: 10%;
  height: 3px;
  background-color: #ff2e16;
}

.line_border:hover{
  transition: 1s;
  width: 29%;
}

.description_container{
  margin-top: 1rem; 
}

.description_content h5{
  font-weight: 300;
  color: #757575;
  text-align: center;
}
     /* sobre mim foto conteudo esquerda */
.image_container{

}
.image_content{
  /* background-color:#00ff5f; */
  width: 100%;

}
.image_content img{
 margin-top: 4rem;
 margin-left: 4rem;
 width: 31.25rem;
 width: 80%;
 height: 31.25rem;
 height: 50%;
 border: solid 4px #ff2e16;
}

.legend{
  margin-top: 0.8rem;
  margin-left: 4rem;
}

.avaliabe{
  display: flex;
  align-items: center;
  gap:6px;
  margin-top: 1rem;
}

.content_avali{
  width: 10px;
  height: 10px;
  background-color: #00ff5f;
  border-radius: 10px;
}

        /* sobremim container div lef e right */
.About_container{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

        /* fim container div lef e right */
.section_About_right{
  margin-top:4rem;  
  display: flex;
  margin-left: 4rem;
  
}
.subtitle_container{
  display: flex;
  
}
.subtitle_content{
  display: flex;
  flex-direction: column;
  width: 457px;
 
  
  
}

.subtitle_content h4{
  font-size: 13px;
  line-height: 26px;
  height: 10rem;
  color: #757575;
  width: 457px;
  height: 30vh;
  font-weight: 400;
  
}

.info_about_container{
  display: flex;
  
}

.info_about_content{
  margin-top: 0.5rem;
  display:flex;
  width: 457px; 
  height: 210px;
 
}

.info_about_content{
  display: flex;
  justify-content:space-between;
  
}

.info_square{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info_square p{
  font-size: 0.8rem;
  font: 500;
  color: #1d539e;

}

.porcent_number{
  width: 500px;
  height: 6px;
  border-radius: 6px;
  background-color: #ff2e16;
  
}

.porcent_info{
  margin-top: 2rem;
}


          /* projetocontainer */


/* .edge_border{
  display: flex;
  justify-content: center;
  width: 40%;
  margin-left:30px;
  height: 2px;
  background-color:#ff2e16 ;
}
.edge_border:hover{
  width: 90%;
} */

/* .typing-animation{
  animation:blinkCursor 500ms steps(40) infinite normal, typing 8s infinite steps(40) 1s normal both;

}
@keyframes typing {
  from {
    width: 0;
  }
  to{
    width: 17em;
  }
}

@keyframes blinkCursor{
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to{
    border-right-color: transparent;
  }
}

 */
  
